<!doctype html>
<html ng-app="burnbase">
<head>
<script src="bower_components/angular/angular.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="src/burn.js"></script>
</head>
<body ng-controller="MyCtrl">
<pre>{{stuff | json}}</pre>
<ul>
  <li ng-repeat="(k,v) in stuff">
  {{k}}: <textarea ng-model="stuff[k]"></textarea>
  </li>
</ul>
</body>
<script>
var fb;
function MyCtrl($scope, Burn, $parse) {
  $scope.stuff = {
  };
  Burn($scope, 'stuff', 'https://ajoslin-test.firebaseio.com/stuff');
  fb = new Firebase('https://ajoslin-test.firebaseio.com/stuff');
}
</script>
</body>
</html>
